<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head><script src="https://kit.fontawesome.com/cc494ed5e3.js" crossorigin="anonymous"></script>
<body>
    <header>
        <div class="FondoAmarillo">
        <div class="header_div">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Cafetera">
        </div>

        <div class="header_div">
            <form class="search_bar" action="">
                <input type="text" placeholder="Buscar productos">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        </div>
        
            <p class="compraEnCuotas">Comprá en cuotas y sin tarjeta de credito <i class="fa-solid fa-credit-card"></i></p>
            
            <nav class="site_navbar">
                    <ul>
                        <li><a href="">Ofertas <i class="fa-solid fa-tags"></i></a></li>
                        <li><a href="">Tiendas Oficiales <i class="fa-solid fa-shop"></i></a></li>
                        <li><a href="">Vender <i class="fa-solid fa-sack-dollar"></i></a></li>
                        <li><a href="">Ayuda <i class="fa-solid fa-handshake-angle"></i></a></li>
                    </ul>

                    <ul class="login_navbar">
                        <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-user"></i> </a></li>
                        <li><a href="/login">Ingresa <i class="fa-solid fa-arrow-right"></i></i></a></li>
                        <li><a href="">Mis compras <i class="fa-solid fa-cart-arrow-down"></i></i></a></li>
                    </ul>
            </nav>

                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            
    </header>
    <main class="main_registro">
        <div class="contenedor_formulario">
                <p>Creá tu cuenta</p>
            
            <br>
            <form action="/" method="get" class="register_form">
                
                <input type="text" name="nombre" placeholder="Nombre y apellido" class="controls" minlength="6" required>
                <br><br>
                
                <input type="text" name="usuario"  placeholder="Nombre de Usuario" class="controls" minlength="6" required>
                <br><br>
                
                <input type="email" name="email"  placeholder="Email" class="controls" required>
                <br><br>

                <p>Fecha de Nacimiento</p>

                <br>
                <input type="date" name="nacimiento"  class="controls" required>
                <br><br>
                
                <input type="text" name="domicilio" placeholder="Domicilio" class="controls" minlength="6" required>
                <br><br>
    
                <label class="perfilUsuario" for="perfil">Perfil del usuario</label>
                <br>
                <br>
                <p id="register_radios">
                <input type="radio" name="perfil" id="perfil" value="Comprador" required> Comprador
                <input type="radio" name="perfil" id="perfil" value="Vendedor" required>Vendedor
                </p>
                <br>
                <label for="intereses" id="intereses" class="register_intereses" required>Intereses</label>
                <br>
                <br>
                
                <div class="register_checkbox">
                    <p>
                    <p class="checkboxs"><input type="checkbox" name="electro" id="intereses" value="electro">Electro </p>
                    <p class="checkboxs"><input type="checkbox" name="moda" id="intereses" value="moda" >Moda </p>
                    <p class="checkboxs"><input type="checkbox" name="hogar" id="intereses" value="hogar" >Hogar </p>
                    <p class="checkboxs"><input type="checkbox" name="juguetería" id="intereses" value="juguetería" >Juguetería </p>
                    <p class="checkboxs"><input type="checkbox" name="vida sana" id="intereses" value="vida sana" >Vida sana </p>
                    </p>
                </div>
                
                <br>
                <p id="photo">
                <label for="foto" >Foto de usuario</label>
                <input type="file" name="foto" id="foto" accept=".jpg, .png" required><br><br>
                </p>
                
                <input type="password" name="contraseña" placeholder="Contraseña" class="controls" minlength="8" required><br><br>
                
                <input type="password"  name="contraseña 2" placeholder="Confirmar contraseña" class="controls" minlength="8" required><br><br>    
                <div class="main_botonRegister">
                    <button type="reset" class="register_borrar">Borrar</button>
                    <button type="submit" class="register_registrar">Registrar</button>    
                </div>
                
    
            </div>
            </form>

    </main>
    <footer>
        <section class="contenedor-footer">
                <i class="fa-solid fa-credit-card"></i>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <P>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</P>
        </section>
        <section class="contenedor-footer">
                <i class="fa-solid fa-gift"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <P>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</P>
        </section>
        <section class="contenedor-footer">
                <i class="fa-solid fa-user-shield"></i>
                <h5>Seguridad, de principio a fin</h5>
                <P>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</P>
        </section>
        <section>
            <article class="contenedor-Copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>
</html>