:root {
    --color-amarillo : #EAC926;
    --color-azul : #03264c;
    --color-celeste : #1259c3;
    --color-grisOscuro : #666;
    --color-grisClaro : #ebebeb;
    --color-verde : #39b54a;
    --font-roboto : 'Roboto', sans-serif;
    --paragraph : 12px;
    --title : 24px;
    --prices : 18px;
}

* {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
color: black;
box-sizing: border-box;
}


/* HEADER */
header{
  background-color: #EAC926;
  padding: 20px;
}

.FondoAmarillo {
  display: flex;
  flex-wrap: nowrap;
}

.header_div {
  width: 50%;
  height: 65.2px;
  display: flex;
  align-items: center;
}

.logo  {
  height: 100%; 
  width: 100%;
  
}

.search_bar {
  width: 100%;
  display: flex; 
  margin-left: 10px; 
  height: 60%;
}

.search_bar input {
  width: 100%; 
  margin: 0;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.search_bar button {
  position: absolute;
  right: 20px;
  background-color: white;
  padding: 3px;
  border: none; 
  display: flex;
  align-self: center;
}

.search_bar i {
  color: rgb(197, 195, 195);
}

.compraEnCuotas {
  text-align: center;
  margin: 20px auto;
}

.site_navbar {
  display: none;
}

.site_navbar ul {
  margin-left: 0px;
  list-style-type:none;
  padding-left: 0;
}

.login_navbar {
  text-align: left;
}

a {
  text-decoration: none;
  color: #000000;
}

.burger-menu {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.burger-menu i {
  padding: 9px 10px;
  color: white;
  background-color:  #1259c3; 
  border-radius: 5px;
  font-size: 20px;
}



/* MAIN */


.banner {
  width: 100%;
}

main {
  margin: auto;
  width: 90%;
  background-color: var(--color-grisClaro);
}

.main_h3 {
  font-size:  24px;
  width: 100%;
  color: var(--color-grisOscuro);
}

.main_producto {
  margin-bottom: 10px;
  background-color: #ffffff;
  width: 100%;
}

.main_producto img{
  width: 100%;
}

.main_producto div {
  display: flex;
  border-top: 1px solid #ebebeb;
  padding: 15px;
  position: relative;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.main_producto i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  color: #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.precio {
  font-size: 18px;
  margin: 0;
}

.descuento {
  font-size: 16px;
  margin: 0;
  color: rgba(0, 128, 0, 0.747);
}

.nombreProducto{
  font-size: 16px;
} 

.main_producto h4 {
  display: block;
  box-shadow: none;
}

.main_producto:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  transition: transform 2s;
}

.main_producto:hover h4 {
  display: inline;
}


/* FOOTER */

footer {
  background-color: white;
  display: flex;
  flex-direction: row;
}

 
.contenedor-footer {
  margin: 20px;
  text-align: center;
}

.contenedor-footer h5 {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

.contenedor-footer p {
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  color: var(--color-grisOscuro);
}

.contenedor-footer i {
  color: #1259c3;
  transition: transform 1s;
}

.contenedor-footer i:hover {
  color: #39b54a;
  transition: transform 1s;
}

.contenedor-icono {
  width: 30px;
  padding-left: 100px;
}

.contenedor-Copyright {
  font-size: 10px;
  flex-wrap: wrap;
}


.main_producto i {
  border-radius: 50%;
  position: absolute;
  transition: transform 2s;
}

.main_producto i:hover {
  transform: rotate(-90deg);
}


@media (min-width: 361px){
  /* HEADER */

  header{
     display: flex;
     flex-wrap: wrap;
 }

  .header_div_conteiner {
     display: flex;
     flex-wrap: wrap;
     width: 65%;
 }

  .header_div {
     display: flex;
     align-items: center;
 }

 .search_bar {
     display: flex; 
     height:auto;
 }
 
 .search_bar input {
     width: 100%; 
     margin: 0;
     border: 1px solid #141414;
     border-radius: 10px;
     width: 100%;
 }

 .search_bar button {
     position: initial;
     padding: 0;
     border: 1px solid #141414; 
     display: block;
 }

 .search_bar i {
     color: #464646;
     padding: 3px;
     font-size: smaller;
 }

 .compraEnCuotas {
     width: 33%;
     margin-left: 2%;
 }

 .site_navbar {
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin-top: 50px;
     gap: 20px;
 }

 .site_navbar ul {
     display: flex; 
     gap: 10px;
 }

 .site_navbar ul li {
     display: inline-block;
     font-size: 72%;
 }

 .burger-menu {
     display: none;
 }

 /* MAIN */
 main section {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .main_h3 {
     margin: 20px 0;
 }

 .main_producto {
     width: 45%;
 }

 .main_producto:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  transition: transform 2s;
}

.main_producto:hover h4 {
  display: inline;
}

}

@media (min-width: 769px){
  .main_producto {
    width: 22%;
}

  .main_producto h4 {
    display: none;
  }

  .main_producto:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: transform 2s;
  }
  
  .main_producto:hover h4 {
    display: inline;
  }
 
}
